@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coming+Soon&family=Montserrat&family=Montserrat+Alternates&family=Open+Sans&family=Poppins&family=Roboto&display=swap");

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

:root {
  --color: #f6cf57;
  --color2: #f62d14;
  --color1: #9e1604;
  --color2: #ed0a80;
  --color3: #50aff8;
  --color4: #f58300;
}

html,
body {
  overflow-x: hidden;
  background-color: #080808;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #080808;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--color4);
  border-radius: 20px;
  border-bottom: 120px solid #080808;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}

.navlink {
  text-decoration: none;
}

.section {
  background: rgb(159, 17, 0);
  background: radial-gradient(circle, rgba(159, 17, 0, 0.6) -1%, #0f0f0f 30%);
  width: 100rem;
  height: 100vh;
}
#about {
  background: #080808;
  width: 100rem;
  height: 60vh;
}

.col {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section2 {
  background: rgb(159, 17, 0);
  background: radial-gradient(circle, rgba(159, 17, 0, 0.6) -10%, #0f0f0f 50%);
  width: 100rem;
  height: 100vh;
  overflow: hidden;
}

.footer {
  background: #080808;
  width: 100rem;
  height: 10rem;
  overflow: hidden;
  margin-top: 2rem;
}

.sep {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 13.9vw solid #080808;
  margin-top: -12.9vw;
}

.image-background {
  margin-top: -7rem;
  width: 45rem;
  height: 20rem;
  transform: rotate(-8deg);
  transition: 200ms all ease-in-out;
  float: right;
  margin-right: 8rem;
}

#logo {
  margin-top: 15rem;
  margin-left: 6rem;
}

.sub-heading {
  color: #fff;
  margin: 2rem 6rem;
  width: 20rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  
}

.navbar {
  justify-content: center;
  display: flex;
  background-color: #0f0f0f;
  align-items: center;
  gap: 10rem;
  padding-top: 2rem;
}
.links {
  display: flex;
  margin-left: -2rem;
  gap: 1.4rem;
  align-items: center;
}

li {
  list-style-type: none;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

li:hover {
  color: var(--color);
}

.btn {
  padding: 0.4rem 1.25rem 0.4rem 1.25rem;
  background-color: var(--color2);
  color: white;
  font-size: 1.1rem;
  border-radius: 40px;
  border: 2px solid var(--color2);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
#top-logo {
  margin-left: -2.5rem;
}

.signup {
  transition: 200ms all ease-in-out;
  cursor: pointer;
}

.signup:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2.5rem;
}

.line {
  background-color: #fff;
  width: 40rem;
  height: 0.1rem;
  margin: 2rem auto 0 auto;
}

.line1 {
  background-color: #fff;
  width: 70rem;
  height: 0.1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.line2 {
  background-color: #fff;
  width: 70rem;
  height: 0.1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtext {
  color: #fff;
  font-family: "Poppins", sans-serif;
  width: 50rem;
  text-align: center;
  margin: 2rem auto;
}

.reg {
  text-decoration: underline;
  color: var(--color);
  cursor: pointer;
}

.reg:hover {
  color: var(--color2);
}

.first {
  font-size: 2rem;
  margin-top: 5rem;
  margin-left: 23rem;
}

.highlight {
  text-decoration: underline;
  color: var(--color);
  cursor: pointer;
}

.heading-2 {
  color: #fff;
  text-align: right;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2.5rem;
  margin-right: 12rem;
}

.card-container {
  display: flex;
  gap: 10rem;
  margin-top: 5rem;
}

.card-body {
  width: 20rem;
  height: 30rem;
  border: 2px solid white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.fcard {
  margin-left: 2rem;
}

.scard {
  margin-top: -5rem;
}

.card-image {
  width: 18rem;
  height: 10rem;
  background-color: #c4c4c4;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}

#second {
    margin-top: -3rem;
}

#third {
    margin-top: -3rem;
}

.card-title {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.card-description {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.play {
  margin-left: 5rem;
  padding: 0.4rem 1.25rem 0.4rem 1.25rem;
  background-color: var(--color2);
  color: white;
  font-size: 1.1rem;
  border-radius: 40px;
  border: 2px solid var(--color2);
  font-family: "Poppins", sans-serif;
  transition: 200ms all ease-in-out;
}

.play:hover {
  background-color: var(--color4);
  border: 2px solid var(--color4);
  color: #080808;
}

.footer-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin-left: 2rem;
}
.footer-text2 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.footer-email {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin-left: 35rem;
}

.text-container {
  display: flex;
  gap: 2rem;
}
